<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyShortener - Create your short link!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PyShortener</a>
    </div>
</nav>
<div class="container py-4">
    <h3>Please, short my link:</h3>
    <form action="/create" method="post">
        <fieldset>
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Link Name</label>
                <input type="text" class="form-control" maxlength="200" id="name" name="name" placeholder="Title">
            </div>

            <div class="mb-3">
                <label for="original_link" class="form-label">Your long link</label>
                <input type="text" class="form-control" maxlength="500" id="original_link" name="original_link"
                       placeholder="Paste your link there">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Create short link</button>
            </div>
        </fieldset>
    </form>
    <h3>Latest 5 links</h3>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% if latest_links %}
            {% for link in latest_links %}
            <div class="col px-4 py-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.name }}</h5>
                        <p>Your link: {{ host }}l/{{ link.id }}</p>
                            {% if link.is_alive %}
                        <a href="{{ host }}l/{{ link.id }}" class="card-link" target="_blank">Open Link</a>
                            {% endif %}
                        <a href="/remove/{{ link.id }}" class="card-link">Remove Link</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No links are available.</p>
            {% endif %}
        </div>
    </div>

    <h3>All active links</h3>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% if all_links %}
            {% for link in all_links %}
            <div class="col px-4 py-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.name }}</h5>
                        <p>Your link: {{ host }}l/{{ link.id }}</p>
                        <a href="{{ host }}l/{{ link.id }}" class="card-link" target="_blank">Open Link</a>
                        <a href="/remove/{{ link.id }}" class="card-link">Remove Link</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No links are available.</p>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>